<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WF_Game_Mines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WF_Game_Mines.Properties.Settings>
            <setting name="count_8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="count_10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="count_16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lose_8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lose_10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lose_16" serializeAs="String">
                <value>0</value>
            </setting>
        </WF_Game_Mines.Properties.Settings>
    </userSettings>
</configuration>